#switch{
	position: fixed;
	top:15px;
	right:15px;
	color: white;
	width:100px;
	height: 40px;
	cursor: pointer;
	background-color: #44B78B;
	border-color: #44B78B;
	border-radius: 50px;
	font-family: 'Lato', sans-serif;
	outline: none;
}