#switch{
	position: fixed;
	top:15px;
	right:15px;
	color: white;
	width:100px;
	height: 40px;
	cursor: pointer;
	background-color: #44B78B;
	border-color: #44B78B;
	border-radius: 50px;
	font-family: 'Lato', sans-serif;
	outline: none;
}

#writeUp{
	background-color: #2F334D; 
	color:white;
	padding: 70px;
}

#writeUpTitle{
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 300;
	margin: 0 !important;
	padding:14px;
	border:1px dashed white;
}

.write-up-des{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding-left: 70px;
	padding-top: 30px;
	font-weight: 300;
	line-height: 1.8em;
}

.controller-image{
	height: 250px;
	width: auto;
}
